@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5)
  .border-1px
    &::before, &::after
      -webkit-transform: scaleY(0.7)
      transform: scaleY(0.7)

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
  .border-1px
    &::before, &::after
      -webkit-transform: scaleY(0.5)
      transform: scaleY(0.5)

.clearfix
  display: inline-block
  &::after
    display: block
    height: 0
    line-height: 0
    content: "."
    clear: both
    visibility: hidden

// 定义主要元素层的层级index
// 默认
default-zindex = 0
// header组件
background-zindex = -1
detail-zindex = 100
// goods组件
current-zindex = 10
// shopcart组件
shopcart-zindex = 50
content-left-zindex = 60
logo-zindex = 70
content-right-zindex = 60
ball-zindex = 200
shopcart-list-zindex = 40
list-mask-zindex = 30
// 商品详情food组件
food-zindex = 40
addShopcart-zindex = 50


