border-1px($borderColor)
  position: relative
  &:before
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    border-top: 1px solid $borderColor
    content: ''

  &:after
    display: block
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    border-bottom: 1px solid $borderColor
    content: ''
// 背景设置
bg-image($url)
  background-image: url($url+"@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url+"@3x.png")
// 根据不同图标的大小设置其参数
icon-Size($size)
    if $size == 1 || $size == 3
      width: 12px
      height: 12px
      background-size: 12px 12px
      margin-right: 4px
    else
      width: 16px
      height: 16px
      background-size: 16px 16px
      margin-right: 6px
